@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Noto Sans SC", "Source Han Sans SC", "PingFang SC", "Microsoft YaHei", sans-serif;
}

html,
body,
#__nuxt {
  min-height: 100%;
}
